volumes:
  postgres-data:
    driver: local

services:
  ecomie-api:
    container_name: ecomie-api
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - ./.env
    volumes:
      - .:/build
#      - /build/target
    ports:
      - "${HTTP_PORT}:8081"
#    stdin_open: true
#    tty: true
    depends_on:
      ecomie-db:
        condition: service_healthy
    networks:
      - ecomie-network

  ecomie-db:
    container_name: ecomie-db
    image: postgres:18-alpine
    ports:
      - "5433:5432"
    env_file:
      - ./.env
    volumes:
      - ./.env:/app/.env
      - postgres-data:/var/lib/postgresql/18/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATASOURCE_USERNAME}" ]
      interval: 5s
      timeout: 5s
      retries: 3
    networks:
      - ecomie-network

networks:
  ecomie-network:
    driver: bridge
